/* related to our waves library */
.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}




.skewScaleItem {
-webkit-animation:skewScaleItem .3s ease-out 0s 1 normal forwards !important; 
transform:skew(30deg,30deg) scale(0);
transform-origin:0 0;
}


/* 
this one we use to create a skew-scale animation effect for the .votesContainer, it basically animates the elements skew and scale properties, and make sure that the element has no transforms before using this.
*/
@keyframes skewScaleItem {

100% {
transform:skew(0deg,0deg) scale(1);
}

}

.skewScaleVerticallyCenteredItem {
-webkit-animation:skewScaleVerticallyCenteredItem .3s ease-out 0s 1 normal forwards !important; 
transform:skew(30deg,30deg) scale(0) translate(0,-50%);
}


/* 
this one we use to create a skew-scale animation effect for the .votesContainer, it basically animates the elements skew and scale properties, and make sure that the element has no transforms before using this.
*/
@keyframes skewScaleVerticallyCenteredItem {

100% {
transform:skew(0deg,0deg) scale(1) translate(0,-50%);
}

}






.scaleItem {
-webkit-animation:scaleItem .3s ease-out .2s 1 normal forwards !important; 		
-webkit-transform:scale(0) !important;
}


/* this is the scale up animation we intend to use on most if not all circles on the app 
you need to give these two to anything you want and they will be animated:
-webkit-animation:scaleItem .2s ease-out 2s 1 normal forwards; 		
-webkit-transform:scale(0);
*/
@keyframes scaleItem {

100% {
-webkit-transform:scale(1);	
}

}

.scaleOutItem {
-webkit-animation:scaleOutItem .3s ease-out .2s 1 normal forwards !important; 		
-webkit-transform:scale(1) !important;
}

@keyframes scaleOutItem {

100% {
-webkit-transform:scale(0);	
}

}



.scaleVerticallyCenteredItem {
-webkit-animation:scaleVerticallyCenteredItem .3s ease-out .2s 1 normal forwards !important; 		
transform:scale(0) translate(0,-50%) !important;
}

@keyframes scaleVerticallyCenteredItem {

100% {
transform:scale(1) translate(0,-50%);	
}

}

.scaleHorizontallyCenteredItem {
-webkit-animation:scaleHorizontallyCenteredItem .2s ease-out .2s 1 normal forwards !important; 		
transform:scale(0) translate(-50%,0) !important;
}

@keyframes scaleHorizontallyCenteredItem {

100% {
transform:scale(1) translate(-50%,0);	
}

}

.scaleCenteredItem {
-webkit-animation:scaleCenteredItem .2s ease-out .2s 1 normal forwards !important; 		
-webkit-transform:scale(0) translate(-50%,-50%) !important;
}

@keyframes scaleCenteredItem {

100% {
-webkit-transform:scale(1) translate(-50%,-50%);	
}

}







.focusOnVerticallyCenteredItemBeforeScalingToNormal {
animation:focusOnVerticallyCenteredItemBeforeScalingToNormal 2.5s ease-out .2s 1 normal forwards !important; 		
transform:scale(0) translate(0%,-50%) !important;	
}


@keyframes focusOnVerticallyCenteredItemBeforeScalingToNormal {

20% {
transform:scale(1.2);	
}

80% {
transform:scale(1.2);	
}

100% {
-webkit-transform:scale(1) translate(0%,-50%);	
}

}

