#chatModal {
height:100% !important;
width:100% !important;
max-height:100% !important;		
}


.chatModalContent  {
width:100%;
height:calc(100% - 60px);
margin-top:60px;
position:relative;
top:0;
padding:0 !important;
overflow:hidden;
overflow-y:auto;
}

.chatModalContentChild {
width:100%;
height:calc(100% - 80px);
padding:0;
margin:0;
overflow:hidden;
position:relative;
}


.chatWindow {
width:100%;
height:100%;
overflow:hidden;
background-color:#f4f4f4;
}


.chat_window_child {
width:100%;
height:100%;
overflow:hidden;
overflow-y:auto;
position:relative;
padding-top:20px;
padding-bottom:20px;
}

.chat_window_child::-webkit-scrollbar {
width:2px;
}

.chat_window_child::-webkit-scrollbar-thumb {
	background-color:#ebebeb;
}

.chat_window_child::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

.messageContainer {
display:table;
padding:5px 0;
width:100%;
position:relative;
}

.message0 .message {
background-color:#b3e9f7;	
margin-right:10px;
float:right;
}

.message1 .message {
background-color:white;
color:#303030;	
margin-left:43px;
}


.message0 .emojiMessage, .message1 .emojiMessage {
background-color:transparent;	
}

.message0 .messageDate {
float:right;
margin-top:10px;
margin-right:5px;
}

.message1 .messageDate {
margin-left:5px;	
}

.messageDate {
font-family:roboto;
font-size:65%;
font-weight:bold;
display:none;
position:relative;
color:#aaaaaa;	
}

.message {
display:inline-block;	
padding:5px 12px 5px 12px;
border-radius:12px;
box-sizing:border-box;	
font-size:120%;
max-width:75%;
position:relative;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
user-select: none;
}

.unreadEmoji {
-webkit-animation:scaleEmojis 5s ease-out 0s 1 normal forwards; 		
}

.emojiMessage img {
width:50px;
height:50px;	
}

/* these take care of adding the chat bubble arrows to received messages only */

.messageContainer .message:after {
content:'';
width:200px;
height:150px;
-webkit-transform:scale(0.1);
transform-origin:left top;
background:url(../icons/messageArrow.png);
position:absolute;
left:-5px;
top:-1px;	
}

.message0 .message:after {
content:'';
width:0;
height:0;
}

.messageContainer .emojiMessage:after {
background:none;	
}

.message1 .fileMessageContainer {
margin-left:20px;
}

.message0 .fileMessageContainer {
float:right;	
margin-right:10px;
}


/* file messages, images in specific */
.fileMessageContainer {
display:inline-block;
padding:0;	
overflow:hidden;
position:relative;
width:150px;
height:100px;
border-radius:10px;
background-color:lightsteelblue;
user-select:none;
perspective:1px;
}


.chatRecipientAvatar {
display:none;	
}

/* we use .messageContainer:not(.message0) instead of a simple .message1 just in case classes 
higher than .message1 such as .message2 are added in the future. */
.message0 + .messageContainer:not(.message0) .chatRecipientAvatar {
display:inline-block;	
}

.imageMessageContainer .chatRecipientAvatar {
display:none !important;	
}


.imageMessageContainer.message1 .messageDate {
position:relative;
top:-10px;	
}

.imageMessageContainer {
display:inline-block;	
width:100%;	
}

.fileMessageContainer img {
min-width:100%;
max-width:100%;
min-height:100%;
max-height:none;		
position:relative;
top:50%;
left:50%;
transform:translate(-50%,-50%);
z-index:1;
background-color:#303030;
}


/* the avatar of message senders */

.chatRecipientAvatar {
position:absolute !important;
margin-left:5px;
top:5px;
width:33px;
height:33px;
border-radius:10px 12px 10px 10px;	
overflow:hidden;
perspective: 1px; /* webkits can't handle grand-child radiuses, another workaround would be to give the border radius directly to the image's parent, but i don't know if this 
second workaround would fuck with our code or not. */
z-index:99;
}

.chatRecipientAvatar:active {
opacity:.4;	
}


/* send message */

.inputContainer {
position:relative;	
height:80px;
width:100%;
overflow:hidden;
font-size:105%;
background-color:white;
}


.messageTextarea {
display:inline-block;	
font-family:roboto;
width:80%;
height:100%;
font-size:100%;
resize:none;	
border:none !important;
padding-left:15px !important;
padding-top:10px;
box-sizing:border-box;
margin:0 !important;
}

.messageTextarea:focus {
box-shadow:none !important;	
outline:none;
}

.messageTextarea::-webkit-scrollbar {
width:0;
}

.messageTextarea::-webkit-input-placeholder {
color:#aaaaaa;
text-transform:capitalize;
font-size:105%;
}

.sendMessageButton {
display:inline-block;	
width:20%;	
height:100%;
position:relative;
float:right;
}

.sendMessageButton a {
position:absolute;
top:50%;
right:10px;
transform:translate(0,-50%);
width:50px;
height:50px;
}

.sendMessageButton i {
font-size:160%;	
line-height:50px;
}







@media screen and (min-width:702px) {

.message {
max-width:50%;	
font-size:105%;
margin-left:25px;
}
	
}




@keyframes scaleEmojis {

0% {
-webkit-transform:scale(.95);	
}


5% {
-webkit-transform:scale(1);	
}
		

10% {
-webkit-transform:scale(.95);	
}

15% {
-webkit-transform:scale(1);	
}
	
20% {
-webkit-transform:scale(.95);	
}

25% {
-webkit-transform:scale(1);	
}
		
30% {
-webkit-transform:scale(.95);	
}


35% {
-webkit-transform:scale(1);	
}


40% {
-webkit-transform:scale(.95);	
}
		

45% {
-webkit-transform:scale(1);	
}

50% {
-webkit-transform:scale(.95);	
}
	
55% {
-webkit-transform:scale(1);	
}

60% {
-webkit-transform:scale(.95);	
}
		
65% {
-webkit-transform:scale(1);	
}


70% {
-webkit-transform:scale(.95);	
}


75% {
-webkit-transform:scale(1);	
}
		

80% {
-webkit-transform:scale(.95);	
}

85% {
-webkit-transform:scale(1);	
}
	
90% {
-webkit-transform:scale(.95);	
}

95% {
-webkit-transform:scale(1);	
}
		
100% {
-webkit-transform:scale(1);	
}

}





#emojisContainer {
display:none;	
width:100%;	
height:100%;	
background:rgba(0,0,0,.7);
position:absolute;
top:0;
left:0;
z-index:999;
overflow:hidden;
overflow-y:auto;
padding:10px 0;
}


#emojisContainerChild {
height:100%;	
display:inline-block;
text-align:center;
}

#emojisContainer img {
margin:5px;	
-webkit-transition:transform .2s ease-out;
}

#emojisContainer img:active {
opacity:.4;	
transform:scale(.6);
}






.timeoutDiv {
background-color: rgba(0,0,0,.8);
border:2px solid white;
border-radius:1000px;
font-size: 180%;
position: absolute;
top: 3%;
right: 3%;
width: 60px;
height: 60px;
z-index: 9999999;
color: white;
text-align: center;
line-height: 60px;
font-family: roboto;
text-shadow: 0 0 5px rgba(0,0,0,1);	
-webkit-animation:scaleItem .2s ease-out .5s 1 normal forwards; 		
-webkit-transform:scale(0);
-webkit-transition:all .2s ease-out;
}
