#commentsModal .modal-content {
padding:0;	
overflow:hidden;
}

.commentElementsContainer {
width:100%;	
height:calc(100% - 60px); /* compensate for the add-comment part */
overflow:hidden;
overflow-y:auto;
padding:30px 0;
background-color:white;
}

.singleComment {
display:block;	
padding:7px 7px 7px 20px;
min-height:75px;
height:auto;
width:100%;
margin:0;
overflow:hidden;
box-sizing:border-box;
position:relative;
left:50%;
font-size:18px;
background-color:white;
border-bottom:1px solid #f4f4f4;
user-select:none;
}

.singleComment:last-child {
border-bottom:none;	
}

.commenterInfoContainer {
display:inline-block;	
height:100%;	
}


.singleComment .commenterAvatarContainerParent {
padding:0;	
}

.singleComment .avatarContainer {
width:45px;
height:45px;	
}

.commenterFullName:link {
display:inline-block;	
color:#494949;	
margin:0;
text-transform:capitalize;
font-size:14px;
font-weight:bold;
}

.commenterFullName:visited {
color:#494949;	
}

.commenterVotedThis {
position:relative;
top:0;	
padding:1px 5px;
background:-webkit-linear-gradient(36deg, yellowgreen, green);
color:white;
font-weight:bold;
font-size:12px;
text-transform:uppercase;
border-radius:3px;
}

/* add a background to the text if a comment or reply is by the poster himself */
.commentByPoster {
background-color:#494949;
color:white !important;	
padding:0 10px;
font-size:12px;
border-radius:20px;
}


.singleComment a:active {
opacity:.4;	
}

.actualComment {
display:inline-block;	
font-size:90%;
height:100%;
padding-left:20px;
}

.actualCommentComment {
display:block;	
width:100%;	
overflow:hidden;	
font-size:80%;
max-height:45px;	
line-height:15px;
margin-top:3px;
}


.postCommentActions {
display:table;	
width:100%;
height:auto;
margin-top:3px;
}

.commentActionNums {
display:inline-block;		
font-size:80%;
font-weight:bold;
color:#aaaaaa;		
position:relative;
top:-1px;
left:-3px;
}

.postCommentActions a:link {
font-size:70%;
color:grey;	
font-weight:bold;
}

.postCommentActions a:visited {
color:grey;	
}

.postCommentActions a:link i  {
font-size:110%;
font-weight:bold;
padding:3px;
}

.upvoteOrDownvoteActive {
color:green !important;
}

.commentDate {
display:table-cell;
vertical-align:middle;	
text-align:right;	
color:#aaaaaa;
font-weight:bold;
font-size:55%;	
}

/* the user's full name, whenever a user replies to him within a reply, we use this */
.replyToFullname {
text-transform:capitalize;	
}


/* so, this is just a ghost dropdown button we javascriply click whenever the user holds his comment to display the delete comment modal, this is since materializecss doesn't 
allow us to open a dropdown without a button, or at least i don't know how to, you get the idea. */
.deleteCommentButton {
position:absolute;
right:5px;
top:0;
font-size:10px;	
}






/* related to adding commments to posts */

.addComments {
width:100%;
height:60px;
box-sizing:border-box;
box-shadow: 0 -2px 1px rgba(0,0,0,.1);
position:relative;
z-index:1;
}

/* the irony is that it isn't actually a textarea, it is a contenteditable div. */
.postCommentTextarea {
width:80%;
height:100%;	
float:left;
padding:10px 0 0 8px;
border:none;
background-color:white;
overflow:hidden;
overflow-y:auto;
line-height:16px;
}

.postCommentTextarea:focus {
outline:none;	
}

.postCommentButtonContainer {
height:100%;	
}

.postCommentButton {
width:20%;
height:100%;
background-color:#f95462;
color:white;	
border:none;
text-align:center;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.postCommentButton i {
line-height:60px;	
font-size:24px;
}

