

/* default styling for all inputs */

::-webkit-input-placeholder {
color:#aaaaaa;	
font-weight:500;
}

.input-field input[type=text],.input-field input[type=password],.input-field input[type=email] {
border-bottom: 2px solid lightgrey;
color:grey;
box-shadow:none;
}

.input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field input[type=email]:focus {
border-bottom: 2px solid green;
color:black;
box-shadow:none;
}


.input-field input[type=text] + label,.input-field input[type=email] + label,.input-field input[type=password] + label {
color: grey;
}


.input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label,.input-field input[type=password]:focus + label {
color: green !important;
}


.input-field input {
text-indent:2%;
}


input[type="submit"] {
letter-spacing:1px;	
}

input[type="submit"]:focus {
outline:none; 
}