#megaContainer {
padding-left:0 !important;	
background:-webkit-linear-gradient(bottom , yellowgreen , green);
}

#megaContainer .container {
height:100%;	
}

#loginAndSignUpContainerParent {
width:100%;	
height:100%;	
margin:0;
}

#loginAndSignUpContainer {
width:100%;
height:100%;
margin:0;
overflow:hidden;
position:relative;
}
 
.forms {
margin-top:10%;	
padding-bottom:5% !important;
position:absolute;
top:45%;
left:50% !important;
transform:translate(-50%,-50%);
} 

.smallDivider {
margin:30px 0;
height:1px;
background-color:#ebeaea;	
}

.forms .input-field {
margin-top:0;	
}


.forms .character-counter {
color:#e2e2e2;	
}

.formLinkContainer {
margin-top:15px;	
}

.formLinks {
color:white;
font-size:90%;
font-weight:500;
}

/* these are titles for inputboxes */
   
.formTitle {
display:inline-block;	
position:relative;
top:-20px;
left:50%;
transform:translate(-50%,0%);	
}

.formTitle h5 {
display:inline-block;	
color:yellowgreen;
background-color:white;
padding:8px 20px;
border-radius:25px;
font-size:150%;
font-weight:bold;
letter-spacing:5px;
text-transform:uppercase;
text-align:center;
}

#signUpForm {
display:none;	
}

#switchFormsButton {
position:absolute;
left:0;
bottom:0;
background:transparent;
color:white;
box-shadow:none;
width:100%;
margin:0;
font-size:120%;
font-weight:bold;
letter-spacing:2px;
}

.character-counter {
margin-top:-15px !important;	
}




/* default styling for all inputs */


.input-field input[type=text],.input-field input[type=password],.input-field input[type=email] {
border-bottom: 2px solid #ebeaea;
color:#aaaaaa;
box-shadow:none;
}

.input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field input[type=email]:focus {
border-bottom: 2px solid yellowgreen;
color:black;
box-shadow:none;
}


.input-field input[type=text] + label,.input-field input[type=email] + label,.input-field input[type=password] + label {
color: #aaaaaa;
}


.input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label,.input-field input[type=password]:focus + label {
color: white !important;
}


.input-field input {
text-indent:2%;
}


input[type="submit"] {
letter-spacing:1px;	
}

input[type="submit"]:focus {
outline:none; 
}