
/* everything that is supposed to contain the number of new notifications will be hidden by default, they will be shown and filled as soon 
as the number of new notifications is loaded.*/
#new_notifications_num {
display:none;	
position:absolute;
right:0;
top:0;
transform:translate(20%,-40%);
}

#notifications_container {
overflow:hidden;	
}

.notifications_container_child {
height:calc(100% - 50px);
padding-top:40px;
box-sizing:border-box;
background-color:white;		
overflow:hidden;
overflow-y:scroll;
}

.singleNotification {
display:table;	
width:100%;
min-height:75px;
margin:0;
padding:0 0 0 20px;
overflow:hidden;
box-sizing:border-box;
background-color:white;
position:relative;
left:50%;
border-bottom:1px solid #f4f4f4;	
}

.singleNotification .focusStealer {
position:absolute;
right:7px;
top:5px;	
}

.singleNotification:last-child {
border-bottom:none;	
}

.notificationsAvatarContainer {
display:table-cell;
vertical-align:middle;		
width:50px;
margin-left:5px;
}


.singleNotification .avatarContainer {
position:relative;
left:50%;
transform:translate(-50%,0%);
width:45px;
height:45px;	
}

.notificationTextContainer {
display:table-cell;
vertical-align:middle;	
width:calc(100% - 45px);
padding:0 20px;
margin-bottom:5px;
}

.notificationTextContainer a {
font-weight:bold;	
}

.notificationText {
display:inline-block;
position:relative;
font-size:14px;	
}

.notificationFromFullName  {
color:#494949 !important;	
text-transform:capitalize !important;	
font-size:100%;
font-weight:bold;
}

.notificationTime {
color:#aaaaaa;	
display:block;
font-family:roboto;	
font-size:80%;
font-weight:500;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;	
}