
#settingsModal .modal-content {
padding:0;	
margin-top:60px;
padding-bottom:120px;
height:100%;
width:100%;
}

#accountSettings {
width:100%;	
height:100%;
}



#accountContainerRow {
padding-top:10px !important;	
position:relative;
}

#accountSettingsInputsContainer {
padding:0;	
}


.settingsSingleSectionContainer {
display:block;
height:auto;
margin:0;	
margin-top:25px;	
width:100%;
}

.settingsSingleSectionContainer:first-child {
margin-top:0;	
}

.settings_single_section_child {
display:block;
height:auto;
overflow:auto;	
}

.settingsTitleHeading {
display:inline-block;
font-weight:bold;
padding:10px;	
margin-bottom:10%;
cursor:default;
}

#settingsModal .formTitleSmall {
padding:15px 0 5px 10px;	
}

.settingsTitle {
color:yellowgreen;
font-family:roboto;
font-size:85%;
font-weight:bold;
letter-spacing:0;
text-transform:uppercase;
}

#settingsModal .myHorizontalCardStyle {
padding:15px 0;	
}

#settings_email_confirmation_section {
display:none; /* this section should be hidden initially, it will be set to visible if our "check-if-i-should-ask-for-the-confirmation-code" ajax call returns true */	
}
