

#collapseButton {
position:fixed;
top:3%;
right:3%;
display:none;
z-index:1 !important;
}

.subheader {
color:#aaaaaa !important; 
}

.userViewListItem {
display:block;
height:150px;
}

.userView {
display:block;
height:100%; 
}

.page-footer {
background-color:#f95462 !important;
font-family:roboto;
margin-top:25% !important;
} 

.footer-copyright {
background-color:#f95462 !important;
box-shadow:0 -8px 10px rgba(109,24,24,.3);
}


.footer-logo {
font-family:baloo bhai;
font-size:400%;
}

.footer-description {
margin-top:0 !important; 
}


#userAvatarContainer {
position:relative;
width:70px !important;
height:70px !important;
background-size:cover !important; 
border-radius:100%;
background-position:center center !important;
opacity:1;
overflow:hidden;
float:left;
-webkit-transition:box-shadow .2s ease-out;
-moz-transition:box-shadow .2s ease-out;
-ms-transition:box-shadow .2s ease-out;
transition:box-shadow .2s ease-out;
}

#userAvatarContainer:hover {
box-shadow:1px 4px 6px rgba(0,0,0,.7);
}

#userAvatarContainer:active {
opacity:.5;
}



.userView {
overflow:hidden;	
}

#userViewChild {
display:inline-block;
position:relative;
top:50%;
transform:translate(0,-50%);
width:100%;
margin:0 !important;
}

#userInfoContainer {
display:inline-block;
position:absolute;
top:50%;
transform:translate(0,-50%);
width:100%;
}



#userInfoContainer a {
display:block;	
color:white;
font-size:100%;
font-weight:bold;
line-height:15px;
text-shadow:1px 1px 2px rgba(0,0,0,.7);
}

#userInfoContainer .baseUserFullNameContainers {
text-transform:capitalize;	
}

.sideBarUserName {
font-size:80%;
color:white;
text-shadow:0 0 2px rgba(0,0,0,1);
}


@media only screen and (max-width : 992px) {

#collapseButton {
display:inline-block; 
}


.userRelated {
display:inline-block;
margin-top:2%;
}

}

