#user_modal .modal-content {
padding:0;	
}


#profileBackground {
width:100%;
height:180px;
position:relative;
}		

#profile_background_bottom_overlay {
width:100%;
position:absolute;
bottom:0;
left:0;
padding:5px 10px;
background: rgba(0,0,0,.8);
}

#profile_background_buttons_container {
float:right;	
}

#profile_background_buttons_container>a {
display:inline-block;
position:relative;	
top:3px;
}

#profile_background_buttons_container a:not(:first-child) {
margin-left:10px;	
}

#profile_background_buttons_container a i.material-icons {
color: white;	
}

#profile_background_buttons_container .custom_badge {
display:none;	
position:absolute;
top:0;
right:0;
transform:translate(50%,-50%);
}

.baseUserOnly {
display:none;	
}

.notBaseUserOnly {
display:block;	
}

.userModalBasicInfoContainer {
position:relative;
left:50%;
transform:translate(-50%,0%);
background-color:white;
padding:0 15px 35px 15px;
border-bottom:1px solid #ebeaea;
}


/* we have to override materialize's defaults */
#main_screen_user_profile .fixed-action-btn {
position:fixed;
bottom:70px;	
}

#user_modal_important_infos_container {
display:block;	
width:100%;
height:auto;
margin:0;
}

#user_modal_important_infos_container_child {
display:inline-block;
position:relative;
left:50%;
transform:translate(-50%,0);	
border-bottom:1px solid #f4f4f4;
}

.user_modal_important_infos_button {
min-width:55px;	
float:left;
margin-left:15px;	
text-align:center;	
padding:15px 0 10px 0;
user-select:none;
}

.user_modal_important_infos_button:active {
background-color:#f4f4f4;	
}

.user_modal_important_infos_button:first-child {
margin-left:0;	
}

.user_modal_important_infos_button_num {
font-size:19px;
color:black;
font-weight:600;
line-height:20px;
}

.user_modal_important_infos_button_label {
font-size:10px;
font-weight:500;
color:#aaaaaa;
text-transform:uppercase;
}


.userModalBasicInfoContainerChild {
display:inline-block;
position:relative;
left:50%;
transform:translate(-50%,0%);
}

.userModalAvatarImageContainer {
position:relative; 
margin-top:15px;
}

.userModalAvatarImage {
box-shadow:0 0 0 3px rgba(0,0,0,.2);
border:2px solid white;
border-radius:100%;
width:90px;
height:90px;
position:relative;
left:50%;
transform:translate(-50%,0%);
overflow:hidden;
} 



/* the div that will contain the 4 arrows for repositioning avatars */
#repositionAvatarDiv {
color:white;
width:100%;
height:100%;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
display:none;
text-shadow:0 0 2px black, 0 0 3px rgba(0,0,0,.8);
}

#repositionAvatarDiv i {
height:30px;
width:30px;
line-height:30px;
text-align:center;
font-weight:bold;
font-size:30px;
position:absolute;
cursor:pointer;
user-select: none;
}

#repositionAvatarDiv i:active {
opacity:.4;
}

/* this button will be display noned by default too. */
#rotateAvatarButton {
display:none;
color:white;
background:none;
border:none;
text-shadow:0 0 2px black, 0 0 3px rgba(0,0,0,.8);
cursor:pointer;
position:absolute;
left:0%;
top:50%;
transform:translate(-100%,-50%); 
padding:0;
line-height:0;
}

#rotateAvatarButton i {
font-size:33px;
}

#rotateAvatarButton:active {
opacity:.5;	  
}



.userModalBasicInfoContainerChild a:link,.userModalBasicInfoContainer a:visited {
color:#f95462;
display:block;
text-align:center;
line-height:20px;
}

#userModalUserInfosChild {
border-bottom:1px solid #ebeaea;	
padding-bottom:5px;
}

#userModalFullName {
color:black;	
font-size:130%;
font-weight:500;
text-transform:capitalize;
margin-top:15px;
white-space: nowrap;
}

#userModalUserName {
font-size:85%;
font-weight:bold;
color:#aaaaaa;
white-space: nowrap;
}


#user_profile_follow_button {
display:block;
text-align:center;	
width:70%;
position:relative;
left:50%;
transform:translate(-50%,0);	
font-size:13px;
background-color:black;
color:white;
font-weight:900;
border-radius:4px;	
padding:5px 25px;
letter-spacing:1px;
margin-top:15px;
box-sizing:border-box;
text-transform:uppercase;
}



.userModalOtherInfo ul li:not(.disabled) span,.userModalOtherInfo .active {
color:#f95462 !important; 
}

.userModalOtherInfo input:focus{
border-bottom:1px solid #f95462 !important;
box-shadow:0 1px 0 #f95462 !important;
}


.picker__date-display {
background-color:#f95462;
}

.picker__weekday-display {
background-color:#ec3131;
}

.picker__footer button:not(.picker__clear) {
color:#f95462 !important;
}

.picker__day--selected {
background-color:#f95462 !important;  
}





#user_profile_tabs .disabled a {
color:#aaaaaa;
}

#userModalKnownInfoContainer, #user_profile_posts_container {
position:relative;	
}


/* when user views another users profile picture, the male, birthdate and country infos.*/	  

#userModalKnownInfoContainer {
margin-bottom:30px;	
padding-top:80px;
}	 


/* we want the profile info (male,country,etc...) to be hidden by default, until a user clicks the edit button */
#userModalInfoChangers {
display:none;	
}

.userModalKnownInfo {
display:inline-block;
width:100%;
color:grey;
border-bottom:1px solid #ebeaea;
padding-bottom:15px;
position:relative;
font-weight:bold;
user-select:none;
}	  

#userModalInfoSee .row:last-child .userModalKnownInfo {
border-bottom:none;
}

.userModalKnownInfoText {
color:black;	
text-transform:capitalize;	
}

.userModalKnownInfoIcon {	
display:inline-block;
width:40px;
height:40px;
float:right;
border-radius:100%;
}	  

.userModalKnownInfo .hashtag {
float:none;	
}

.flag-icon-background {
background-size:cover !important;	
}

.birthdateContainer {
color:white;
background-color:#f95462;
font-family:roboto;
font-size:150%;
text-align:center;	
}

.birthdateContainer div {
display:inline-block;	
position:relative;
top:50%;
transform:translate(0,-50%);	
}


/* add tag button (a plus icon in truth). */
#addTag {
color:grey;
display:inline-block;
position:relative;
top:9px;	
}


.changeAvatarContainer {
display:none;	
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,.6);	
cursor:pointer;
}

.changeAvatarContainer i {
display:inline-block;
font-size:350%;
color:white;
position:relative;
top:50%;
left:50%;
transform:translate(-50%,-50%);	
}

/* the button that is visible only on screens more narrow than 742px */	  
#modal1CloseButton {
display:none;	
} 


#editProfileButton {
background-color:#f95462;
}

#editProfileButton i {
color:white;
}


/* on non-mobile screens, we need to move that button top a bit so it doesn't fuck with the user-modal-footer */
@media screen and (min-width:742px) {

#userProfileChatButton {
bottom:70px;	
}

}
